{% extends "./base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div style="max-width:900px; width: 70%; border: 2px solid rgb(224, 224, 224); border-radius: 12px; background-color: white;" class="m-auto mb-3 mt-5">
  <div class="d-flex align-items-center justify-content-center mt-4">
    <img style="width:100px" class="me-3" src="https://cclcentrex.edu.ph/images/ccl.png">
    <h1 class="text-center fs-2 fw-bold mb-0">CCL CentrEx Online Reservation System</h1>
  </div>
  
  <div class="p-4">
    <div class="d-flex justify-content-between align-items-start mb-3">
      <div>
        <p class="mb-2 fs-5"><b>{{profile.name}}</b></p>
        <p class="mb-0">{{profile.department}}</p>
        <div class="d-flex align-items-center mt-2">
          <p style="color: orange; margin: 0"><strong>Coins: </strong>{{profile.coins}}</p>
          <button type="button" class="btn btn-secondary btn-sm ms-2" style="border-radius: 50%; width: 25px; height: 25px; padding: 0px;" data-bs-toggle="tooltip" data-bs-placement="right"
          title="Earn coins using the reservation system! 50 coins when you first sign up, 20 coins for every 50 pesos spent per reservation. 10 coins = ₱1">
            ?
          </button>
        </div>
      </div>

      <div class="d-flex gap-2">
        <button type="button" class="btn btn-primary px-4 py-2" data-bs-toggle="modal" data-bs-target="#orderHistory">
          Order History
        </button>
        <button onclick="window.location.href='/login'" class="btn btn-warning px-4 py-2" style="color: white; background-color: rgb(234, 164, 33);">
          Log In Again
        </button>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="lunch-tab" onclick="selectForm('lunch','snacks')">Lunch Form</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="snacks-tab" onclick="selectForm('snacks','lunch')">Snacks Form</a>
    </li>
  </ul>
</div>


<div id="lunch-form">
  {% if active_lunch_form %}
  <form method="post" class="form" >
    <div style="max-width:900px; width: 70%; border: 2px solid rgb(224, 224, 224); border-radius: 12px;  background-color: white;" class="m-auto my-3">
      {% csrf_token %}
      {% if submitted_lunch %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong class="fs-5 text-center">You already submitted for this form</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <h1 class="mb-3 mt-4 fs-2 p-3 text-center">Lunch Reservation Form for <strong>{{ active_lunch_form.display_week}}</strong></h1>
      <div class="p-4">
        <strong>Ordering For:</strong>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="lunch-name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="lunch-name" name="name" value="{{profile.name}}">
          </div>
          <div class="col-md-6 mb-3">
            <label for="lunch-grade" class="form-label">Grade:</label>
            <input type="text" class="form-control" id="lunch-grade" name="grade" value="{{profile.department}}">
          </div>
        </div>
      </div>
    </div>

    <input type="text" readonly class="d-none form-control-plaintext" name="form" value="lunch_form">
    {% for option in lunch_options %}
    <div style="max-width:900px; width: 70%; border: 2px solid rgb(224, 224, 224); border-radius: 12px;  background-color: white;" class="m-auto my-3">

      <h3 class="fs-5 mb-3 ms-32 text-left p-4 pb-2" style="width: 100%; ">{{option.get_weekday_display.capitalize}}</h3>
      <div class="container p-4 pt-0">

        {% if option.food_items.values.count == 0 %}
        <h5 class="text-center fw-bold">No Classes For This Day / HOLIDAY</h5>
        {% endif %}
            {% for food in option.food_items.values %}


            <div class=" d-flex align-items-center" style="border: 1px solid #ddd; border-radius: 10px;">
              <img style="width: 125px; height:125px;    border-radius: 8px; object-fit: cover;" class="img-thumbnail me-4" src="{{food.image}}"/>
            <div class="d-flex justify-content-between w-100 align-items-center pe-3 fs-5">
                <p style="margin:0"><strong>{{ food.name }}</strong> <br> ₱{{ food.price }}</p>


               <div id="{{food.id}}-{{option.weekday}}-quantity me-3">
                  <input data-price="{{food.price}}" type="number" step="1"  onchange="addQuantity('lunch')" class="form-control form-control-lg"  id="{{food.id}}-{{option.weekday}}-quantity" name="{{food.id}}-{{option.weekday}}-quantity" value="0" min="0" max="5">
                </div>
            </div>
            </div>

            {% endfor %}

      </div>
    </div>
    {% endfor %}
    <div class="mb-3">
      <h3>Total: ₱<span id="lunch-total">0</span></h3>
    </div>
    <button type="submit" class="mb-5 btn btn-primary">Submit</button>
  </form>

{% else %}
<div class="d-flex flex-column align-items-center">

  <h5 class="mb-5 mt-3 text-center">There are currently no active forms. Please check again later.</h5>
</div>
{% endif %}

</div>

<div id="snacks-form" class="d-none">
  {% if active_snacks_form %}
  <form method="post" class="form" >
    <div style="max-width:900px; width: 70%; border: 2px solid rgb(224, 224, 224); border-radius: 12px;  background-color: white;" class="m-auto my-3">
      {% csrf_token %}
      {% if submitted_snacks %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <strong class="fs-5 text-center">You already submitted for this form</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      <h1 class="mb-3 mt-4 fs-2 p-3 text-center">Snacks Reservation Form for <strong>{{ active_snacks_form.display_week}}</strong></h1>
      <div class="p-4">
        <strong>Ordering For:</strong>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="snacks-name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="snacks-name" name="name" value="{{profile.name}}">
          </div>
          <div class="col-md-6 mb-3">
            <label for="snacks-grade" class="form-label">Grade:</label>
            <input type="text" class="form-control" id="snacks-grade" name="grade" value="{{profile.department}}">
          </div>
        </div>
      </div>
    </div>

    <input type="text" readonly class="d-none form-control-plaintext" name="form" value="snacks_form">

    {% for option in snacks_options %}
    <div style="max-width:900px; width: 70%; border: 2px solid rgb(224, 224, 224); border-radius: 12px;  background-color: white;" class="m-auto my-3">

      <h3 class="fs-5 mb-3 ms-32 text-left p-4 pb-2" style="width: 100%; ">{{option.get_weekday_display.capitalize}}</h3>
      <div class="container p-4 pt-0">

        {% if option.food_items.values.count == 0 %}
        <h5 class="text-center fw-bold">No Classes For This Day / HOLIDAY</h5>
        {% endif %}
            {% for food in option.food_items.values %}


            <div class=" d-flex align-items-center" style="border: 1px solid #ddd; border-radius: 10px;">
              <img style="width: 125px; height:125px;    border-radius: 8px; object-fit: cover;" class="img-thumbnail me-4" src="{{food.image}}"/>
                <div class="d-flex justify-content-between w-100 align-items-center pe-3 fs-5">
                    <p style="margin:0"><strong>{{ food.name }}</strong> <br> ₱{{ food.price }}</p>
                   <div id="{{food.id}}-{{option.weekday}}-quantity me-3">
                      <input data-price="{{food.price}}"  type="number" step="1" onchange="addQuantity('snacks')" class="form-control form-control-lg" id="{{food.id}}-{{option.weekday}}-quantity" name="{{food.id}}-{{option.weekday}}-quantity" value="0" min="0" max="5">
                    </div>
                </div>
            </div>

            {% endfor %}


      </div>
    </div>
    {% endfor %}
    <div class="mb-3">
      <h3>Total: ₱<span id="snacks-total">0</span></h3>
    </div>
    <button type="submit" class="mb-5 btn btn-primary">Submit</button>
  </form>

{% else %}
<div class="d-flex flex-column align-items-center">

  <h5 class="mb-5 mt-3 text-center">There are currently no active forms. Please check again later.</h5>
</div>
{% endif %}
</div>




<div class="modal fade" id="orderHistory" tabindex="-1" aria-labelledby="orderHistoryLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="orderHistoryLabel">Order History</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for order in orders %}
        <div class="card mb-3" style="width: 100%; border: 2px solid {% if order.paid %} black {%else%} red {% endif %} ">
          <div class="card-body">
            <div class="card-title d-flex justify-content-between align-items-center">
              <h5>{{order.form.display_type}} <br> {{order.form.display_week}}</h5>
              {% if not order.paid %} 
                <button onclick="confirmDeletion('{{order.id}}')" class="btn btn-danger btn-sm float-end mb-3">Delete</button>
              {% endif %}
            </div>
            {% if order.paid %}
              <h6 class="card-subtitle mb-3 fw-bold text-body-secondary text-center text-success">Status: Paid</h6>
            {% else %}
              <h6 class="card-subtitle mb-3 fw-bold text-body-secondary text-center text-danger">Status: Pending</h6>
            {% endif %}
            <table class="table table-striped table-bordered table-sm">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Meal</th>
                  <th>Price</th>
                  <th>#</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                {% for reservation in order.reservations.all %}
                  {% for selection in reservation.selection_set.all %}
                    <tr>
                      {% if forloop.first %}
                        <td rowspan="{{reservation.selection_set.count}}">{{reservation.get_weekday_display.capitalize}}</td>
                      {% endif %}
                      <td>{{selection.food_item.name}}</td>
                      <td>{{selection.food_item.price}}</td>
                      <td>{{selection.quantity}}</td>
                      <td>{{selection.line_total}}</td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function addQuantity(form) {
    console.log(form)
    var total = document.getElementById(form+"-total");
    var partialTotal = 0
    var quantities = document.querySelectorAll("input[type='number']")
    quantities.forEach((quantity) => {

          partialTotal += quantity.value * quantity.getAttribute("data-price")
    })
    total.innerText = partialTotal

  }

  function selectForm(form, otherForm) {

    document.getElementById(form+"-form").classList.remove("d-none")
    document.getElementById(form+"-tab").classList.add("active")
    document.getElementById(otherForm+"-form").classList.add("d-none")
    document.getElementById(otherForm+"-tab").classList.remove("active")

  }

  function confirmDeletion(id) {
    if (window.confirm("Are you sure you want to delete?")) {
      $.ajax({
        type:"POST",
        url: "delete_order/"+id,
      }).done(function(){
        window.location.reload()
      }

      )
    }
  }
  function confirmGCash(pay_type, id) {
    if (window.confirm("Confirm to redirect to GCash")) {
      $.ajax({
        type:"POST",
        url: "pay_order/"+id,
        data: {pay_type}
      }).then(function(response){

            window.location.href = response
      }

      )
    }

  }
</script>
{% endblock %}
