
{% extends "./base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="text-center m-5" style="height: 75vh">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div>
    Redirecting to Microsoft Authentication. <br>
    Please sign in with your school account.
  </div>
</div>
<script>
  setTimeout(function(){
      window.location.href = _.unescape("{{  authorization_url }}" )
  }, 2000);
</script>
<script src="https://cdn.jsdelivr.net/npm/underscore@1.13.6/underscore-umd-min.js"></script>
{% endblock %}