{% extends "./base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div style="max-width:900px; width: 85%; border: 5px solid whitesmoke; background-color: white;" class="m-auto rounded mb-5">
  <div class="d-flex justify-content-between align-items-center p-3 pb-3">
    <p class="mb-0"><b> {{profile.name}}  </b>  <br>{{profile.role}} <br> {{profile.department}} </p>
    <div class="text-end w-50">
      <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#orderHistory">
        Order History
      </button>
      <button onclick="window.location.href='/login'" class="btn btn-warning">Log In Again</button>
    </div>
   
  </div>

  {% if active_form %}
    <form method="post" class="form" >
      <hr style="width:95%;text-align:left;margin-left:0; border-radius: 3px; border: 2px solid gray; opacity: 0.15">
        {% csrf_token %}
        {% if submitted %}
        <div class="alert alert-info alert-dismissible fade show w-75" role="alert">
          <strong>You already submitted for this form</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <h1 style="font-size: 1.5rem" class="mb-3 text-center">Reservation Form for <br>{{ active_form.display_week}}</h1>
        <hr style="width:95%;text-align:left;margin-left:0; border-radius: 3px; border: 2px solid gray; opacity: 0.15">
        {% for option in options %}
          <h3 class="mb-4 text-center">{{option.get_weekday_display.capitalize}}</h3>
          <div class="container" style="max-width: 750px;">
            <div class="row row-cols-1">
                {% for food in option.food_items.values %}
                <div class="col text-center">
                  <img style="width: 250px; height: 250px;; object-fit: cover;" class="img-thumbnail mb-3" src="{{food.image}}"/>
                  <div class="checkbox-{{weekday}} mb-5">
                    <input style="border: 1px solid black"onclick="selectCheckbox('{{food.price}}', '{{food.id}}-{{option.weekday}}')" class="form-check-input" type="checkbox" value="{{food.id}}" name="{{option.get_weekday_display}}" id="{{food.id}}-{{option.weekday}}">
                    <label class="form-check-label" name="{{food.name}}" id="{{food.id}}">{{ food.name }} - ₱{{ food.price }}</label><br>
                  </div>
                </div>
                {% endfor %}
            </div>
          </div>
          <hr style="width:95%;text-align:left;margin-left:0; border-radius: 3px; border: 2px solid gray; opacity: 0.15">
        {% endfor %}

        <div class="mb-4">
          <h3>Total: ₱<span id="total">0</span></h3>
        </div>
        <button type="submit" class="mb-5 btn btn-primary">Submit</button>
    </form>

  {% else %}
  <div class="d-flex flex-column align-items-center">
    <hr style="width:90%">
    <h1 class="mb-5 text-center">There are currently no active forms. <br>Please check again later.</h1>
  </div>
  {% endif %}
</div>


<div class="modal fade" id="orderHistory" tabindex="-1" aria-labelledby="orderHistoryLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="orderHistoryLabel">Order History</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for order in orders %}
          <div class="card mb-3" style="width: 100%;">
            <div class="card-body">
              <div class="position-relative d-flex">
                <div class="w-100">
                  <h5 class="card-title">{{order.form.display_week}}</h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Paid: 
                    {% if order.paid %}
                    <span class="badge rounded-pill text-bg-success">Paid</span>
                    {% else %}
                    <span class="badge rounded-pill text-bg-warning">Pending</span>
                    {% endif %}</h6>
                  <p class="card-text">{% for reservation in order.reservations.all %}
                    {{reservation.get_weekday_display.capitalize}}:<br>
                    {% for food in reservation.food_items.values %}
                    <span class="badge rounded-pill text-bg-secondary">{{food.name}} - ₱{{food.price}}</span>
                    {% endfor %}<br>
                  {% endfor %}</p>
                  <p class="card-text">Total {% if order.paid %} paid {% else %} to be paid {% endif %}: <b>₱{{order.total_paid}}</b></p>
                </div>
                <div class="w-75">
                  <button onclick="confirmDeletion('{{order.id}}')" class="btn btn-danger float-end mb-3" >Delete</button><br>
                  <hr style="width:100%;text-align:center;margin-left:0">
                  <strong>Pay through GCash</strong>
                  <p>1. Send amount of total to *insert number here*</p>
                  <p>2. profit?</p>
                </div>
              </div>
             
            </div>
          
          </div>

    
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function selectCheckbox(price, id) {
    var total = document.getElementById("total");
    var checkbox = document.getElementById(id);
    if (checkbox.checked == true){
        total.innerText = parseInt(total.innerText) + parseInt(price)
      } else {
        total.innerText = parseInt(total.innerText) - parseInt(price)
      }
  }

  function confirmDeletion(id) {
    if (window.confirm("Are you sure you want to delete?")) {
      $.ajax({
        type:"POST",
        url: "delete_order/"+id,
      }).done(function(){
        window.location.reload()
      }
       
      )
    }

  }
</script>
{% endblock %}
